@model IEnumerable<UI.Models.DeliveryViewModel>

@{
    ViewBag.Title = "DeliveryList";
}

<h2>DeliveryList</h2>

@{
    Html.RenderPartial("_DeliveryPeriodPanel");
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
                </td>
            </tr>
        }

    </table>
}
